* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}


.layout::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1f22218d;
}

nav {
    z-index: 9999;
}

nav .nav-link,
.navbar-brand,
.nav-item .btn {
    color: beige;
    font-size: 1.5rem;
}

nav .nav-link:hover,
.navbar-brand:hover {
    color: beige;
}

.navbar-brand {
    font-family: 'Yellowtail', cursive;
    font-size: 4rem;
}


.image-back {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container-fluid {
    background-color: #2d5514;
}

.seeMore {
    border: 2px solid #fff;
}



/* CSS for phone dimensions */
@media (max-width: 767px) {
    .col-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  
/*  Services CSS */

body { font-family: 'Poppins', sans-serif; }
        .bg-gray { background: #ffffff; padding: 50px 0px;}
        .counter { color: #146f0c; font-size: 3.4em; font-weight: 600; line-height: 1; }
        .heading { font-weight: 600;   font-size: 3em;}
        h5 { font-size: 15px; }
        .before-heading { background: #146f0c;  display: inline-block; padding: 0px 6px;  color: #fff; }
/* Fund Services CSS */

/* About Css */ 
.about-section{
position: relative; 
background-color: #fbfbfd;
} 

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-section{
position: relative;
padding-top: 120px;
padding-right: 100px;
}

.about-section .content-column .inner-title{
position: relative;
margin-bottom: 43px;
}

.about-section .content-column .inner-title h2{
font-size: 50px;
line-height: 60px;
padding-bottom: 0;
margin-bottom: 15px;
}

.about-section .content-column .inner-title h2:before{
display: none;
}

.about-section .content-column .inner-title .title{
margin-bottom: 15px;
}

.about-section .content-column .inner-title .text{
font-size: 18px;
line-height: 32px;
color: #7f8897;
font-weight: 400;
}

.about-section .content-column .btn-box{
position: relative;
}

.about-section .content-column .btn-box a{
padding: 15px 32px;
}

.about-section .content-column .btn-box a:hover{
-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.20);
-ms-box-shadow: 0 0 30px rgba(0,0,0,0.20);
box-shadow: 0 0 30px rgba(0,0,0,0.20);
}

.about-section .image-column{
position: relative;
margin-bottom: 50px;
}

.about-section .image-column .image-box{
position: relative;
padding-bottom: 100px;
padding-left: 100px;
}

.about-section .image-column .image-box img{
position: relative;
z-index: 1;
border: 12px solid #ffffff;
-webkit-box-shadow: 0 20px 30px rgba(14,16,48,.10);
-ms-box-shadow: 0 20px 30px rgba(14,16,48,.10);
box-shadow: 0 20px 30px rgba(14,16,48,.10);
}

.about-section .image-column .image-1{
position: relative;
margin-bottom: 0; margin-right: -25px;
}

.about-section .image-column .image-1:before{
position: absolute;
height: 500px;
width: 270px;
right: -30px;
top: 80px;
background: rgb(255,138,1);
background: -moz-linear-gradient(45deg, #673AB7 0%,rgba(225,19,123,1) 100%);
background: -webkit-linear-gradient(45deg, #673AB7 0%,rgba(225,19,123,1) 100%);
background: linear-gradient(45deg, #673AB7 0%,rgba(225,19,123,1) 100%);

z-index: 0;
}

.about-section .image-column .image-2{
position: absolute;
left: 0;
bottom: 0;
margin-bottom: 0;
}


/* Contact CSS */

       @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
       body { font-family: 'Poppins', sans-serif; }
       .form-group { border-bottom: solid 2px #ccc; position: relative; margin-top: 30px;} 
       .form-group textarea, .form-group textarea:focus, .form-group input, .form-group input:focus { border:none; box-shadow: none; position: relative; background: transparent; z-index: 9; margin-left: -12px;}        
       .form-group span:before { content: attr(data-placeholder); position: absolute; top: 50%; left: 0px; color: #333; transform: translateY(-50%); z-index: 1; transition: 0.5s;}                
       .form-group span:after { content: ''; position: absolute; width: 0%; height: 2px; background-image: linear-gradient(120deg, #2196F3, #3F51B5); transition: .5s;}        
       /* .focus + span:before { top:-3px; color:#00BCD4;} */
       .focus + span:after { width: 100%;  } 
       .btn { border-radius: 0; font-size: 21px; padding: 8px 20px;}
       



/* Footer Css */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}


/*  Footer CSS */
    #footer {
background: #2d5514;
padding-top: 100px;
}

.block-inner img {
max-width: 170px;
display: block;
margin-bottom: 40px;
}
.block-inner p {
color: #999999;
line-height: 22px;
margin-bottom: 25px;
}
.block-inner a {
text-transform: uppercase;
font-family: "Oswald";
color: #cf9b67;
}
.block-inner a:before {
content: "";
position: absolute;
right: -15px;
top: 50%;
margin-top: -3px;
width: 6px;
height: 6px;
background-color: #cf9b67;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
}
.block-inner a:after {
content: "";
position: absolute;
left: 100%;
top: 50%;
width: 0;
margin-left: 18px;
margin-top: -1px;
height: 2px;
background-color: #cf9b67;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.block-inner a:hover:after {
filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
opacity: 1;
width: 29px;
}
.block-inner a:hover:before {
filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
opacity: 1;
}

.opening-time p {
color: #999999;
margin-bottom: 17px;
}
.opening-time p span {
color: #cf9b67;
text-transform: uppercase;
}

.item-tweet {
overflow: hidden;
margin-bottom: 20px;
}
.item-tweet:last-child {
margin-bottom: 0;
}
.item-tweet > i {
float: left;
width: 10%;
color: #cf9b67;
font-size: 18px;
margin-top: 2px;
}
.item-tweet > div {
float: right;
width: 88%;
}
.item-tweet > div p {
color: #999999;
line-height: 22px;
margin-bottom: 5px;
}
.item-tweet > div p a {
color: #999999;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.item-tweet > div p a:hover {
color: #5e241d;
}
.item-tweet > div span {
color: #cf9b67;
}

.instagram a {
float: left;
margin: 0 1% 1% 0;
width: 32.66%;
position: relative;
}
.instagram a:hover:after {
filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
opacity: 1;
}
.instagram a:hover i {
display: block;
filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
opacity: 1;
}
.instagram a:after {
content: "";
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
background: rgba(207, 155, 103, 0.85);
z-index: 2;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.instagram a i {
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
z-index: 3;
text-align: center;
color: #fff;
font-size: 24px;
line-height: 91px;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.instagram a img {
width: 100%;
}
.instagram a:nth-child(3n+1) {
margin: 0 0 1%;
}

.foot-title {
display: block;
font-size: 22px;
line-height: 22px;
color: #fff;
font-family: "Oswald";
position: relative;
padding-bottom: 30px;
margin-bottom: 30px;
letter-spacing: 1px;
}
.foot-title:before {
content: "";
position: absolute;
left: 0;
bottom: -1px;
width: 6px;
height: 6px;
background-color: #cf9b67;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}
.foot-title:after {
content: "";
position: absolute;
left: 13px;
bottom: 1px;
width: 29px;
height: 2px;
background-color: #cf9b67;
}

.footer-copyright {
padding: 25px 0;
margin-top: 100px;
position: relative;
background: #171717;
}
.footer-copyright p {
text-align: center;
color: #999999;
}
.footer-copyright a {
position: absolute;
top: -30px;
right: 30px;
display: block;
width: 60px;
height: 60px;
background: #cf9b67;
text-indent: -200px;
overflow: hidden;
-moz-border-radius: 60px;
-webkit-border-radius: 60px;
border-radius: 60px;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.footer-copyright a:after, .footer-copyright a:before {
content: "";
display: block;
background: #fff;
width: 10px;
height: 3px;
position: absolute;
left: 50%;
top: 50%;
margin: -1.5px 0 0 -3px;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.footer-copyright a:after {
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
left: 24px;
}
.footer-copyright a:before {
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.footer-copyright a:hover {
background: #fff;
}
.footer-copyright a:hover:after, .footer-copyright a:hover:before {
background: #cf9b67;
}
/* Fund Footer CSS */